body {
    justify-items: center;
    align-content: center;
    height: 100vh;
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #d0d0d0;
}